*{
  box-sizing: border-box;/*para que los elemento no se desborden*/
  margin: 0;
  padding: 0;
  height: 200px;
  border: 1px solid black;
}

.container {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}

.row::before, row::after {
  /*posicionando las columnas*/
  content: "";
  display: table;/*comportamiendo de tabla*/
  clear: both;/*limpia el float*/
}
 [class*="colum-"] {
   float: left;
   min-height: 7px;
   padding: 12px;/*Creando gutters, espacio entre columnas*/
 }
/*Todas las clases que tengan nombre de clase num-colum, van a tener los siguientes estilo*/
/*(100/12)*num de columnas*/
.colum-1 {width: 8.333333333333332%}
.colum-2 {width: 16.666666666666664%}
.colum-3 {width: 25%}
.colum-4 {width: 33.33333333333333%}
.colum-5 {width: 41.66666666666667%}
.colum-6 {width: 50%}
.colum-7 {width: 58.333333333333336%}
.colum-8 {width: 66.66666666666666%}
.colum-9 {width: 75%}
.colum-10 {width: 83.33333333333334%}
.colum-11 {width: 91.66666666666666%}
.colum-12 {width: 100%}

@media all and (max-width: 450px) {
  /*para todo tipo de pantallas, todas las clases con comienzo col- tendrán un width de 100%}*/
  [class*="colum-"]{
    width: 100%;
  }
}
