.container {
  max-width: 1200px;/*Hace que se ajuste */
  width: 100%; /*es lo mismo que 1200px.*/
  margin: 0 auto; /*para centrar el contenedor.*/
  height: 445px;
  border: 1px solid black;
}
.A-encabezado, .content-section, .F-contenido-lateral {
  margin: 1em 1.25%; /*matiene un ligero margen entre todos los elementos*/
  /*1em=16px*/
  /*sobran 5% que se utilizara entre todos los padding horizontales, los cuales son 4, 5%/4=1.25%*/
  padding: 0;

  /*1em=16px*/
}

.content-section{
  box-sizing: border-box; /*para hacer q los elementos mantengan su tamaño definido y no piedan el desfinido que se les dio desde el inicio.*/
  height: 170px;
}

.F-contenido-lateral{
  float: left; /*alineando, para obtener un moviento de los elementos cuando el tamaño de la pantalla cambie y se posicione uno abajo de otro.*/
  box-sizing: border-box; /*para hacer q los elementos mantengan su tamaño definido y no piedan el desfinido que se les dio desde el inicio.*/
  height: 300px;
}

[class*="article-"]{
  margin-top: 1em;
  width: 31%;
  display: inline-block;
  float: left;
  height: 100px;
}

.content-section {
  width: 58%;
  float: left;
  height: 60%;
}
.F-contenido-lateral {
  width: 35%;
  background-color: #E486EA;
  height: 320px;
}
/* IDEA: Definiendo el color de los contenedores */
.A-encabezado {
  background-color: #F7EA00;
  height: 80px;
}
.B-contenido {
  background-color: #34EAA9;
  height: 200px;
}
.article-C {
    background-color: #36B6E8;
    margin-right: 1em;
}
.article-D {
    background-color: #E836B1;
    margin-right: 1em;
}
.article-E {
    background-color: #F7B93C;
}

@media screen and (max-width: 768px) {
  .content-section, .F-contenido-lateral {
    width: 100%; /*posicionando al contenido lateral (C) debajo del contenido principal (B)*/
  }
  .F-contenido-lateral {
    height: 100px;
  }
  [class*="article-"]{
    width: 31%
    margin: 1em 1.1666666666666667%;
    height: 100px;

  }

}
